/**
 * Links list (components/_links-list.scss)
 */

/* ----- General ----- */
.links-list {
	margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	align-items: center;
  font-size: 0.75em;

	li {
		display: inline-block;
		padding: 0;

		+ li {
			margin-left: 1.25rem;
		}

		&::before {
			display: none;
		}

		a {
			color: $color-footer-copyright;
			font-family: $font-family-secondary;
			font-size: $font-size-h6;
			text-decoration: none;

			&:hover {
				color: $color-dark;
			}
		}
	}
}
