---
# This ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

/**
 * Style (style.scss)
 */


@import "hlsjs";
@import "algolia";
@import "variables";

/* ----- Charset ----- */
@charset 'utf-8';

main article {
  h1, h2, h3, h4, h5, h6 {
    margin-left: -0.75em;
    a {
      display: none;
    }
    &:hover > a {
      display: inline;
      color: #333;
    }
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    margin-bottom: .5rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-bottom: .5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1em;
    width: 100%;

    a {
      --tw-text-opacity: 1;
      color: rgb(16, 185, 129);
      text-decoration: inherit;
    }

    img {
      max-width: 50%;
    }
  }

  ol {
    list-style: decimal;
    margin-left: .5em;
    padding-left: .5em;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    margin-left: .5em;
    padding-left: .5em;
    margin-bottom: 1em;

    li {
      &:before {
        content: '\2014';
        margin-right: 2px;
        font-weight: 400;
      }
    }
  }

  li {
    a {
      --tw-text-opacity: 1;
      color: rgb(16, 185, 129,);
      text-decoration: inherit;
    }
  }

  p code, li code {
    background-color: #fee4ea;
    color: rgb(221, 23, 23);
    padding: 2px 4px;
  }

  blockquote {
    margin: .5em;
    background-color: #f0fffe;
    padding: .5em;
    border-left: 3px solid #282c34;
    color: #333;

    p {
      margin: 0;
    }
  }

  table {
    width: 100%;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;

    thead {
      tr {
        border-bottom: 1px solid #282c34;
        th {
          text-align: left;
          font-size: 1.25em;
          padding: .5em .25em;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #56b6c2;
        }
        td {
          padding: .5em .25em;
        }
      }
    }
  }
}

html.dark {
  main article {
    blockquote {
      background-color: #363636;
      color: #eee;
      border-left-color: #dfeaff;
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {

    main article {
      p {
        img {
          max-width: 100%;
        }
      }
    }

}

@media only screen and (min-width: 1024px) {
  main article {
    h1 {
      margin-bottom: 2.5rem;
    }
        
    h2 {
      margin-top: 2rem;
    }

    h3 {
      margin-top: 2rem;
    }

    .pt-14 {
      margin-top: 1.4rem !important;
    }
  }
}

@media only screen and (max-width: 1023px) {
  main article h1, main article h2, main article h3, main article h4, main article h5, main article h6 {
    margin-left:0;
  }
}